@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'BrandierTrial';
  font-style: normal;
  font-weight: normal;
  src: local('BrandierTrial'), url('./assets/fonts/Bestie.otf') format('woff');
}

body{
  scroll-behavior: smooth !important;
  background-color: rgb(247, 243, 240);
}
#upload-image{
  visibility: hidden;
}

.logo-text{
  font-family: BrandierTrial;
}

img{
  width: 100%;
  height: 100%;
  color: rgb(243, 243, 238);
}

.media{
  background-image: url('./assets/images/bg.svg');
}
.socila-media{
  background-color: rgb(189, 28, 98);
  background-color: rgb(47, 187, 161);
  background-image: linear-gradient(45deg, rgba(194, 10, 90, 0.719), rgba(118, 12, 160, 0.8)),  url('./assets/images/about.jpg');
  background-size: cover;
  background-position: center;
}

.header-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url('./assets/images/hero.jpg');
  background-size: cover;
  background-position: right;
}

.header-container h1{
  font-family: BrandierTrial;
}

.promation{
  background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411)), url('./assets/images/macaroons-2178371_1280.jpg');
  background-size: cover;
  background-position: center;
}
.content-wraper{
  padding-bottom: 4.5rem;
}